*.log
*.pyc
*.bk
*.pdf
*.h5
*.dump
.env
*.pk
*.test.py
!aiefeast
**/*.pyc
**/**/*.pyc
.vscode
.DS_Store
*.pid
**/*log.*
f2ai-credit-scoring-main
guizhou_traffic-main
guizhou_traffic-ver_pgsql
docs/_*
/_*
1f/
3f/
scripts/
egg*
*.egg-info
/build